@media screen and (max-width:1920px) {
    .navbar-expand-lg .navbar-collapse{
        width: 100%;
    }
    .district-desktop{
        display: block;
    }
    .nav-drill{
      display: none;
    }
    .mobile-h {
      display: none;
    }
    .swiper-button-next, .swiper-button-prev,.swiper-pagination{
      z-index: 1;
    }
}
@media screen and (max-width:1440px) {
  .subscribe .cl {
    position: absolute;
    top: unset;
    right: 23%;
    bottom: -16px;
    z-index: 2;
  }
    header .navbar .navbar-nav .nav-item {
        padding: 23px 20px;
    }
    .hero-rtext a{
        width: 100%;
    font-size: 17px;
    }
    .hero-rtext{
        width: 34.5%;
    }
    .circle-el {
        position: absolute;
        top: -29px;
        right: -2%;
        animation: circleSpin 8s linear infinite;
    }
    .circle-el2 {
        top: 30px;
        left: -1%;
    }
    .offers-section .circle-el {
        position: absolute;
        bottom: -160px;
        top: unset;
        right: 20px;
        
        animation: circleSpin 8s linear infinite;
    }
}
@media screen and (max-width:1280px) {
    header .navbar .navbar-nav .nav-item {
        padding: 23px 10px;
    }
    .second-sec h2 {
        font-size: 82px;
    }
     /* ================ Offer Section =================== */
  .offer-box .offer-heading-text {
    color: #fff;
    text-transform: uppercase;
    font-size: 27px;
    font-family: 600;
    padding: 0 30px;
  }

  .overlay:hover .bottom-content {
    left: 7%;
  }
  /* ================ Offer Section End =================== */
  /* ============= Offers Details Section =================== */
  .offer-d-img-section {
    padding: 0;
  }
  /* ============= Offers Details Section End =================== */

  /* ============== Shop Section ================ */

  .filter-form__item_text #filter_brands {
    right: 20px;
    left: unset;
  }

  /* ============== Shop Section End ================ */

  /* ============== Shop Details Section ================== */

  .owl-carousel .owl-item img {
    padding: 0px;
  }
  /* ============== Shop Details Section End ================== */
}
/* @media screen and (max-width:1920px) {
    
} */

@media screen and (max-width:992px) {
  .p-10 {
    padding-top: 50%;
}
  .nav-drill{
    display: block;
  }
  .mobile-h{
    display: block;
  }
  .mobile-h{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    z-index: 9;
    background: #0E0E0E;
  }
  .mobile-h.fixed-top{
    background: #0E0E0E;
    z-index: 9;
  }
  header .mobile-h .navbar-brand{
    margin: 0;
  }
  .hamburger{
    font-size: 42px;
    color: #fff;
  }
    /* ================ Offer Section =================== */
  .offer-box .offer-heading-text {
    font-size: 25px;
  }
  .offer-sub-text {
    font-size: 15px;
  }
  .bottom-content {
    text-align: center;
  }
  .overlay:hover .bottom-content {
    left: 0%;
  }

  /* ==================== Offer Section End ================ */

  /* ============= Offers Details Section =================== */
  .offer-d-img-section {
    padding: 0;
  }
  .right-section-content {
    padding: 0;
  }
  .offer-section-sub-text {
    padding-top: 5px !important;
  }
  /* ============= Offers Details Section End =================== */

  /* ===========  Service Section ================= */
  .get-content {
    text-align: center;
    margin: 60px 0;
  }
  .get-in {
    padding: 15% 0;
  }
  .subscribe .black {
    display: none;
  }
  /* ===========  Service Section End ================= */

  /* =============== Shop Section =============== */
  .input-sub-content {
    padding: 0 !important;
    margin-bottom: 15px;
  }
  /* =============== Shop Section End =============== */

  /* ============ Shop Details Section ================ */
  .owl-carousel .owl-item img {
    width: 100%;
    height: 100%;
    padding: 0px 0px;
  }
  .right-section-img {
    width: 80px;
    margin: 0;
    padding-top: 25px;
  }
  .right-section-first-text {
    font-size: 20px;
  }
  .right-section-second-text {
    font-size: 20px;
  }
  .right-section-sub-text p {
    font-size: 17px;
    font-family: "Inter", sans-serif;
    letter-spacing: 1px;
  }
  .contact-left-section .contact-anchor-link {
    font-size: 17px;
  }
  .direction-right-section .direction-anchor-link {
    font-size: 17px;
  }
  .direction-right-section .direction-bottom-text {
    font-size: 17px;
  }
  /* ============ Shop Details Section End ================ */
}
@media screen and (max-width:767px) {
  .nav-drill{
    display: block;
  }
  /* Mobile Navigation*/

  .hamburger{
    display: block;
  }
.nav-top {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 101;
  padding: 10px 20px;
  width: 100%;
  height: 50px;
  background-color: #188976;
}
.nav-top .hamburger {
  margin-left: auto;
  color: #fff;
  cursor: pointer;
}

.nav-drill {
  margin-top: 50px;
  transform: translateX(100%);
}

.nav-is-toggled .nav-drill {
  transform: translateX(0);
}
.nav-is-toggled::after {
  opacity: 1;
  visibility: visible;
}

.nav-drill {
  display: flex;
  position: fixed;
  z-index: 100;
  top: 51px;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  transition: 0.45s;
}
.nav-drill .nav-items {
  flex: 0 0 100%;
  padding-left: 0;
}
.nav-drill .nav-item{
  padding: 20px 0;
}
.nav-item:not(:last-child) {
  border-bottom: solid 1px #daf9f4;
}
.nav-drill .nav-link {
  display: block;
  padding: 0 1em;
  /* background-color: #fff; */
  color: #000;
  position: relative;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.5em;
font-family: 'Helvetica63-m';
}
.nav-expand-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  background-color: #daf9f4;
  transition: 0.3s;
  visibility: hidden;
  z-index: 2;
}
.nav-expand-content .nav-item:not(:last-child) {
  border-bottom: solid 1px #00000026;
}
/* .nav-expand-content .nav-link {
  background-color: #daf9f4;
} */
.nav-expand-content .nav-back-link {
  display: flex;
  align-items: center;
  /* background-color: #20b49c !important; */
  color: #000;
}
.nav-expand-content .nav-back-link::before {
  content: "chevron_left";
  margin-right: 0.5em;
  font-family: "Material Icons";
}
.nav-expand-link {
  display: flex;
  justify-content: space-between;
}
.nav-expand-link::after {
  content: "chevron_right";
  flex: 0 1 auto;
  font-size: 22px;
  position: absolute;
  font-family: "Material Icons";
}
.nav-expand.active > .nav-expand-content {
  transform: translateX(0);
  visibility: visible;
}
.nav-expand .nav-expand-content {
  background-color: #fff;
}
/* 
.nav-expand .nav-expand-content .nav-expand-content .nav-expand-content {
  background-color: #84e9d9;
}
.nav-expand .nav-expand-content .nav-expand-content .nav-expand-content .nav-link {
  background-color: #84e9d9;
}
.nav-expand .nav-expand-content .nav-expand-content .nav-expand-content .nav-expand-content {
  background-color: #59e1cb;
}
.nav-expand .nav-expand-content .nav-expand-content .nav-expand-content .nav-expand-content .nav-link {
  background-color: #59e1cb;
} */
header .navbar{
  display: none;
}

/* Hero */
    .hero-section{
        padding-top: 31%;
    }
    .hero-text{
        text-align: center;
    }
    .slide-image, .hero-rtext{
        width: 100%;
    }
    .slide-title{
        max-width: 100%;
    }
    .swiper-container {
        width: 100%;
        height: 68vh;
    }
    .slider-bt {
      position: absolute;
      width: 96%;
      margin: auto;
      margin-top: 6%;
      bottom: 49px;
    }
    /* Second secontion */
    .second-sec{
        padding: 10% 0;
    }
    .second-sec h2 {
        font-family: "Helvetica73-b";
        font-size: 29.8px;
        text-align: center;
        color: #0E0E0E;
        transform: none !important;
    }
    .second-sec .parh {
        padding: 0 4%;
    }
    .district-desktop{
        display: none;
    }
    .mobile-se{
        display: block;
    }

    /* offer*/
    .offers-section{
      margin-top: 10%;
    }
    .get-right{
      display: none;
    }
    .third-sec {
        padding: 8% 0;
        position: relative;
        margin-top: 0 !important;
    }
    .circle-el {
        top: 10px;
        right: -5%;
    }
    .circle-el img,  .circle-el2 img{
        max-width: 140px;
        display: none;
    }
    .circle-el2{
        top: 70px;
        left: -5%;
        display: none;
    }
    .mr {
        margin-left: 7px;
        margin-right: 0px !important;
    }
    .offers-section .circle-el {
        position: absolute;
        bottom: -60px;
        top: unset;
        right: -20px;
        animation: circleSpin 8s linear infinite;
    }
    .left-content {
        padding-right: 0px;
        margin-top: 36px;
    }
    .left-content h6{
        margin-bottom: 20px;
    }
    .left-content p {
        color: #000000;
        margin-bottom: 30px;
    }


    /* brand */
    .brand-sec {
        padding: 28% 0;
        position: relative;
        overflow: hidden;
        margin-bottom: 8%;
    }
    .heading {
        font-family: "Helvetica73-b";
        font-size: 54px;
        text-align: center;
        color: #0E0E0E;
    }
    .logo-br {
        padding: 20px 20px;
    }
    .cl {
        position: absolute;
        top: 144px;
        right: 80px;
    }
    .cl p img{
        width: 120px;
    }
    .cl p span {
        position: absolute;
        top: 36px;
        left: 36px;
    }
    .cl p span img {
        animation: none;
        width: 49px;
    }
    .mini-heading {
        font-family: 'Helvetica63-m';
        font-size: 45px;
        color: #FFFFFF;
        padding-right: 0px;
        margin-bottom: 10%;
    }
    .servi-box {
        margin-bottom: 0%;
        margin-top: 20%;
    }
    .servi-box img {
        width: 50px;
        float: none;
        margin-bottom: 20px;
    }
    footer {
        padding: 18% 0;
        text-align: center;
    }
    .social-links{
        margin-bottom: 20px;
    }
    .footer-link, .footer-cont{
        padding-left: 0;
    }
    .bottom-footer {
        padding: 30px 10px;
        text-align: center;
    }
    /* ============ Offer Section ================== */
  .middle__content .offer-sub-heading-text {
    padding-left: 0 !important;
  }
  .middle__content {
    text-align: center;
  }
  .input-sub-content {
    margin-bottom: 10px;
  }
  .offer-sub-content {
    padding-bottom: 10px !important;
  }
  /* ============ Offer Section End ================== */

  /* ============= Offers Details Section =================== */
  .offer-d-img-section {
    padding: 0 !important;
  }
  .right-section-content {
    padding: 0 !important;
  }
  .offer-section-first-text {
    font-size: 20px;
    text-align: center;
  }
  .offer-section-second-text {
    font-size: 24px;
    text-align: center;
  }

  .offer-section-third-text {
    font-size: 14px;
    padding-top: 10px;
    text-align: center;
  }

  .offer-section-sub-text {
    padding-top: 0px !important;
    padding: 0 !important;
    text-align: center;
    font-size: 12px;
  }
  .direction-right-text {
    text-align: center;
  }
  .right-direction-section-top-content {
    text-align: center;
  }
  .offer-d-social-content {
    padding-top: 35px;
    justify-content: center;
  }
  .offer-button-section {
    text-align: center;
    padding-top: 60px;
  }
  /* ============= Offers Details Section End =================== */

  /* ===========  Service Section ================= */

  .filter-heading {
    font-size: 40px;
  }
  .service-left-heading {
    font-size: 30px;
    text-align: center;
  }
  #service-left-heading {
    padding-right: 0 !important;
  }
  .accordion {
    padding-top: 30px;
  }
  .get-in .get-content h4 {
    color: #000000;
    font-size: 33px;
    padding-right: 0;
    margin-bottom: 20px;
  }
  .get-in {
    padding-top: 25%;
  }

  .get-content {
    margin: 60px 0;
  }
  .subscribe .black {
    display: none;
  }
  .subscribe {
    padding: 10% 10%;
  }

  .subscribe .subs h2 {
    font-size: 32px;
    padding-right: 0;
    margin-bottom: 30px;
    text-align: center;
  }

  .subs form input {
    width: 300px;
  }
  .subs form span button {
    margin-left: 0px;
    margin-top: 30px;
  }

  /* ===========  Service Section End ================= */

  /* =============== Shop Section =============== */
  .input-sub-content {
    padding: 0 !important;
    margin-bottom: 10px;
  }
  .filter-form__item_text #filter_brands {
    left: unset;
    right: 20px;
  }
  /* =============== Shop Section End =============== */

  /* =============== Shop Details Section ================ */
  .owl-carousel .owl-item img {
    padding: 0px;
  }
  .right-section-img {
    width: 60px;
    margin: 0 auto;
    padding-top: 30px;
  }

  .right-section-sub-text {
    width: 100%;
    text-align: center;
  }
  .right-section-sub-text p {
    font-size: 12px;
  }

  .right-section-top-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }

  .contact-left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .shop-button-section {
    text-align: center;
  }

  .direction-right-section {
    margin-top: 20px;
  }
  .direction-right-section .direction-bottom-text {
    text-align: center;
    font-size: 15px;
  }

  .contact-section {
    margin-top: 20px !important;
  }
  .right-section-first-text {
    font-size: 15px;
  }
  .right-section-second-text {
    font-size: 15px;
  }
  .contact-left-section .contact-anchor-link {
    font-size: 15px;
  }
  .contact-left-text {
    font-size: 17px;
    text-transform: uppercase;
  }
  .direction-right-text {
    text-align: center;
    font-size: 17px;
  }
  .direction-right-section .direction-anchor-link {
    font-size: 15px;
  }
  .right-direction-section-top-content {
    padding-top: 10px;
  }
  /* =============== Shop Details Section End ================ */
  .subscribe .cl{
    display: none;
  }
  .subs{
    text-align: center;
  }
  .subs input{
    width: 100%;
  }
  .subs span button{
    margin-top: 30px;
    margin-left: 0px;
  }
}