@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: "Helvetica43-l";
  src: url("/assets/fonts/Helvetica43-Light-extended.woff") format('woff');
}
@font-face {
  font-family: "Helvetica63-m";
  src: url("/assets/fonts/Helvetica-63-mediumextended.woff") format('woff');
}
@font-face {
  font-family: "Helvetica73-b";
  src: url("/assets/fonts/Helvetica73-Boldextended.woff") format('woff');
}
@font-face {
  font-family: "Helvetica53";
  src: url("/assets/fonts/Helvetica53.woff") format('woff');
}


section{
  overflow: hidden;
}
a{
    text-decoration: none;
}
a:hover{
  color: unset;
}
ol,
ul {
	list-style: none
}
img{
  display: block;
  width: 100%;
}
p{
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  letter-spacing: 2px;
}

/* Navigation Css */
header{
  position: absolute;
  width: 100%;
  z-index: 9;
}
header .navbar.fixed-top{
  background-color: #0e0e0e;
  box-shadow: 1px 1px 77px 10px #00000027;
  transition: 0.6s all ease-in-out;
}
header .navbar.fixed-top .navbar-nav .nav-item .nav-link{
  /* color: #000; */
}
header .navbar {
  background-color: transparent;
}
header .navbar .navbar-nav{
  /* align-items: center; */
  width: 100%;
  justify-content: center;
}
header .navbar-brand{
  margin: 0 100px;
}
header .navbar-brand .b{
display: none;
}
header .navbar-brand .w{
display: block;
}
header .navbar-brand img{
  width: 90px;
}
header .navbar.fixed-top .navbar-brand .w{
  display: block;
}
header .navbar.fixed-top .navbar-brand .b{
display: none;
}
header .navbar .navbar-nav .nav-item{
  padding: 23px 40px;
}
header .navbar .navbar-nav .nav-item .nav-link{
  color: #FFFFFF;
  font-style: normal;
  font-family:'Helvetica63-m';
font-size: 16px;
letter-spacing: 0.02em;
}
header .sec-nav .navbar-nav .nav-item .nav-link{
  color: #000;
}
/* header .sec-nav .navbar-nav .nav-item .nav-link .fas{
  color: #000;
} */
header .sec-nav.fixed-top  .navbar-nav .nav-item .nav-link{
  color: #fff;
}
header .sec-nav .navbar-brand .w{
  display: none;
}
header .sec-nav .navbar-brand .b{
  display: block;
}
header .sec-nav.fixed-top .navbar-brand .w{
  display: block;
}
/* Dropdwn */

/* .header .header-nav__span:hover,
.header .header-nav__link:hover,
.header .dropdown-item__list a:hover {
  color: #b2ced1;
} */
/* header .navbar .navbar-nav .mega-drop::after {
  content: "";
  background-image: url(/assets/images/sprite.svg#chevron);
  width: 11px;
  height: 11px;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
  margin-left: 6px;
} */
header .navbar .navbar-nav .nav-item .dropdown {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  width: 100%;
  left: 0;
  top:95%;
  background-color: #0e0e0e;
  -webkit-transition: 150ms;
  transition: 150ms;
  padding: 53px 60px 38px;
  box-shadow: 1px 86px 93px #00000038;
}
header .navbar .navbar-nav .nav-item .dropdown-content {
  /* max-width: 985px; */
  margin: 0 auto;
  padding: 0 7%;
}
header .navbar .navbar-nav .nav-item .dropdown-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 66px;
}
header .navbar .navbar-nav .nav-item .dropdown-item__name {
  font-family:'Helvetica63-m';
  font-size: 18px;
  line-height: 0.94444;
  margin-bottom: 29px;
  text-transform: uppercase;
  color: #fff;
}
/* .rtl header .navbar .navbar-nav .nav-item .dropdown-item__name {
  font-family: FrutigerLTArabic, AustinCyr, Arial, sans-serif;
} */
header .navbar .navbar-nav .nav-item .dropdown-item__list {
  padding-left: 0;
}
header .navbar .navbar-nav .nav-item .dropdown-item__list li {
  margin-bottom: 10px;
}
header .navbar .navbar-nav .nav-item .dropdown-item__list li:last-child {
  margin: 15px 0 0;
}
header .navbar .navbar-nav .nav-item .dropdown-item__list li a {
  font-size: 16px;
  font-family: 'Inter';
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #fff;
}
header .navbar .navbar-nav .nav-item .dropdown-item-cards {
  display: flex;
  grid-template-columns: repeat(auto-fit, 250px);
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  grid-gap: 20px;
}
header .navbar .navbar-nav .nav-item .dropdown-buttons {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  text-align: center;
  /* grid-gap: 20px; */
  font-family: 'Halvatica63-m';
}
header .navbar .navbar-nav .nav-item .dropdown-buttons .styled-btn {
  width: 100%;
  font-size: 20px;
  letter-spacing: 1px;
  color: #fff;
  font-family:'Helvetica63-m';
  border: 2px solid #fff;
  padding: 15px 15%;
}


header .navbar .navbar-nav .nav-item:hover .dropdown {
  opacity: 1;
  visibility: visible;
  pointer-events: inherit;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}header .navbar .navbar-nav > li a{
  position: relative;
}

header .navbar .navbar-nav > li> a::after{
  content: '';
  position: absolute;
  background: rgb(255, 255, 255);
  height: 2px;
  width: 0%;
  bottom: -5px;
  left: 0;
  transition: 0.3s all ease-in-out;

}
header .sec-nav .navbar-nav > li > a::after{
  background: rgb(0, 0, 0);
}
header .sec-nav.fixed-top .navbar-nav > li > a::after {
  background: rgb(255, 255, 255);
}
header .navbar .navbar-nav > li.active > a:after,header .navbar .navbar-nav > li:hover > a:after,
header .sec-nav .navbar-nav > li:hover > a::after,header .sec-nav.fixed-top .navbar-nav > li:hover > a::after,header .sec-nav.fixed-top .navbar-nav > li.active > a::after {
		cursor: default;
	 width: 100%;
}


.current_link{
  color: red;
}
.whatsapp-button{
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 99;
  background-color: #25d366;
  border-radius: 50px;
  color: #ffffff;
  text-decoration: none;
  width: 50px;
  height: 50px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 25px -6px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 25px -6px rgba(0,0,0,1);
  box-shadow: 0px 0px 25px -6px rgba(0,0,0,1);
  animation: effect 5s infinite ease-in;
}

@keyframes effect {
  20%, 100% {
      width: 50px;
      height: 50px;
      font-size: 30px;
  }
  0%, 10%{
      width: 55px;
      height: 55px;
      font-size: 35px;
  }
  5%{
      width: 50px;
      height: 50px;
      font-size: 30px;
  }
}








/* Hero  Css */
.hero-section {
  width: 100%;
  height: 100vh;
  /* display: flex;
    justify-content: center;
    align-items: center; */
  padding: 9% 5%;
  padding-top: 16%;
  position: relative;
  background: #0e0e0e;
}
.left-img{
    position: absolute;
    left: 0;
    top: 0;
}
.hero-section .row{
    align-items: center;
}
.hero-text{
    text-align: right;
}
.hero-text h6 {
  color: #ffffff;
  font-weight: 500;
font-size: 16px;
/* identical to box height */
font-family: "Helvetica63-m";
letter-spacing: 0.03em;
}
.hero-text p{
    font-weight: 300;
letter-spacing: 0.03em;
font-family: "Helvetica43-l";
color: #FFFFFF;
}
.hero-rtext h6{
    font-style: normal;
font-size: 20px;
letter-spacing: 0.2px;
color: #FFFFFF;
font-family: "Helvetica53";
line-height: 1.6;
}
.hero-rtext a{
    background: #FFFFFF;
border: 1px solid #FFFFFF;
border-radius: 82px;
font-weight: 700;
font-size: 20px;
letter-spacing: 0.09em;
color: #0E0E0E;
padding: 15px 20px;
margin-top: 50px;
display: block;
    width:85%;
    text-align: center;
    transform: translatey(90px);
    overflow: hidden;
    opacity: 0;
    font-family: "Helvetica73-b";
}
/* Slider */

.swiper-container {
  width: 100%;
  height: 45vh;
}
.swiper-slide-active .slide-title {

  transform: translatey(0px);
  opacity: 1;
  transition: 1s all ease-in-out;
}
.swiper-slide-active .hero-rtext a{

  transform: translatey(0px);
  opacity: 1;
  transition: 1s all ease-in-out;
}
.slide {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  /* text-align: center; */
  /* font-size: 18px; */
  /* background: #fff; */
  flex-wrap: wrap;
  overflow: hidden;
}
.slide-image {
 
  width:60%;
}
.slide-title {
  line-height: 1;
  max-width: 50%;
  white-space: normal;
  word-break: break-word;
  color: #fff;
  z-index: 100;
  transform: translatey(-50px);
  overflow: hidden;
  opacity: 0;
}
.hero-rtext{
  width: 30%;
}
@media (min-width: 45em) {
  .slide-title {
    max-width: none;
  }
}
.slide-title span {
  /* white-space: pre; */
  display: inline-block;
  opacity: 0;
}

.slideshow {
  position: relative;
}
.slideshow-pagination {
  /* position: absolute;
  bottom: 14rem;
  left: -70px;
  width: 100%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: 0.3s opacity;
  z-index: 10;
}
.slideshow-pagination-item {
  display: flex;
  align-items: center;
}
.slideshow-pagination-item .pagination-number {
  opacity: 0.5;
}
.slideshow-pagination-item:hover,
.slideshow-pagination-item:focus {
  cursor: pointer;
}
.slideshow-pagination-item:last-of-type .pagination-separator {
  width: 0;
}
.slideshow-pagination-item.active .pagination-number {
  opacity: 1;
}
.slideshow-pagination-item.active .pagination-separator {
  width: 4vw;
}
.slideshow-navigation-button {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-transform: uppercase;
  width: 5rem;
  z-index: 1000;
  transition: all 0.3s ease;
  color: #fff;
}
.slideshow-navigation-button:hover,
.slideshow-navigation-button:focus {
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
}
.slideshow-navigation-button.prev {
  left: 0;
}
.slideshow-navigation-button.next {
  right: 0;
}

.pagination-number {
  font-size: 1rem;
  color: #fff;
  font-family: "Oswald", sans-serif;
  padding: 0 0.5rem;
}

.pagination-separator {
  display: none;
  position: relative;
  width: 40px;
  height: 2px;
  background: rgba(255, 255, 255, 0.25);
  transition: all 0.3s ease;
}
@media (min-width: 45em) {
  .pagination-separator {
    display: block;
  }
}
.pagination-separator-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  transform-origin: 0 0;
}

/* Hero Css End */
.cta{
  background: #0E0E0E;
border-radius: 82px;
font-weight: 700;
font-size: 14px;
letter-spacing: 0.09em;
color: #FFFFFF;
padding: 15px 30px;
margin: auto;
position: relative;
font-family: "Helvetica73-b";
}
/* .cta::after{
  content:'' ;
  position: absolute;
  background: red;top: 0;
} */

.cb-btn_contact,
.cb-btn_dummy,
.cb-btn_menu,
.cb-btn_more,
.cb-btn_nav,
.cb-btn_plus,
.cb-btn_seemore,
.cb-btn_send {
	position: relative;
	display: inline-block;
	height: auto;
	margin: 0;
	padding: 0;
	color: inherit;
	background: 0 0;
	border: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	outline: 0 !important;
  font-family: "Helvetica73-b";
	font-size: inherit;
	font-weight: inherit;
	letter-spacing: inherit;
	line-height: inherit;
	text-align: inherit;
	text-transform: inherit;
	text-indent: inherit;
	text-decoration: none;
  background: #1c1c1c;
  color: #fff;
}
.cb-btn_more {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 57px;
  padding: 0 32px;
  -webkit-border-radius: 47px;
  -moz-border-radius: 47px;
  border-radius: 47px;
}
.cb-btn{
  text-transform: uppercase;
  letter-spacing: 1px;
}
.cb-btn_more:before {
  content: "";
  display: block;
  position: absolute;
  top: -40px;
  left: -40px;
  right: -40px;
  bottom: -40px;
}
.cb-btn_more:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border: 1px rgba(0,0,0,.1) solid;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  border-radius: inherit;
  -webkit-transition: border-color .2s;
  -o-transition: border-color .2s;
  -moz-transition: border-color .2s;
  transition: border-color .2s;
}
.cb-btn_more-title {
  position: relative;
  top: -1px;
  display: block;
  overflow: hidden;
  z-index: 2;
}
.cb-btn_more-title span {
  display: block;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
  -webkit-transition: color .2s,-webkit-transform .4s;
  transition: color .2s,-webkit-transform .4s;
  -o-transition: color .2s,-o-transform .4s;
  -moz-transition: color .2s,transform .4s,-moz-transform .4s;
  transition: color .2s,transform .4s;
  transition: color .2s,transform .4s,-webkit-transform .4s,-moz-transform .4s,-o-transform .4s;
}
.cb-btn_more:hover .cb-btn_more-title span {
  color: #fff;
  -webkit-transform: translateY(-150%) skewY(-7deg);
  -moz-transform: translateY(-150%) skewY(-7deg);
  -ms-transform: translateY(-150%) skewY(-7deg);
  -o-transform: translateY(-150%) skewY(-7deg);
  transform: translateY(-150%) skewY(-7deg);
}
.cb-btn_more-title span:after {
  content: attr(data-text);
  display: block;
  position: absolute;
  top: 150%;
  left: 0;
  -webkit-transform: skewY(5deg);
  -moz-transform: skewY(5deg);
  -ms-transform: skewY(5deg);
  -o-transform: skewY(5deg);
  transform: skewY(5deg);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  -o-transition: -o-transform .4s;
  -moz-transition: transform .4s,-moz-transform .4s;
  transition: transform .4s;
  transition: transform .4s,-webkit-transform .4s,-moz-transform .4s,-o-transform .4s;
}
.cb-btn_more:hover .cb-btn_more-title span:after {
  -webkit-transform: skewY(7deg);
  -moz-transform: skewY(7deg);
  -ms-transform: skewY(7deg);
  -o-transform: skewY(7deg);
  transform: skewY(7deg);
}
.cb-btn_more-ripple {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  border-radius: inherit;
}
.cb-btn_more-ripple span {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  background: #000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .5s cubic-bezier(.4,0,0,1),-webkit-border-radius .5s cubic-bezier(.4,0,0,1);
  transition: -webkit-transform .5s cubic-bezier(.4,0,0,1),-webkit-border-radius .5s cubic-bezier(.4,0,0,1);
  -o-transition: border-radius .5s cubic-bezier(.4,0,0,1),-o-transform .5s cubic-bezier(.4,0,0,1);
  -moz-transition: transform .5s cubic-bezier(.4,0,0,1),border-radius .5s cubic-bezier(.4,0,0,1),-moz-transform .5s cubic-bezier(.4,0,0,1),-moz-border-radius .5s cubic-bezier(.4,0,0,1);
  transition: transform .5s cubic-bezier(.4,0,0,1),border-radius .5s cubic-bezier(.4,0,0,1);
  transition: transform .5s cubic-bezier(.4,0,0,1),border-radius .5s cubic-bezier(.4,0,0,1),-webkit-transform .5s cubic-bezier(.4,0,0,1),-moz-transform .5s cubic-bezier(.4,0,0,1),-o-transform .5s cubic-bezier(.4,0,0,1),-webkit-border-radius .5s cubic-bezier(.4,0,0,1),-moz-border-radius .5s cubic-bezier(.4,0,0,1);
}
.cb-btn_more:hover .cb-btn_more-ripple span {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-duration: 0s,0s;
  -moz-transition-duration: 0s,0s;
  -o-transition-duration: 0s,0s;
  transition-duration: 0s,0s;
  -webkit-animation: cb-checkbox_rounded-ripple-in .5s cubic-bezier(.4,0,0,1);
  -moz-animation: cb-checkbox_rounded-ripple-in .5s cubic-bezier(.4,0,0,1);
  -o-animation: cb-checkbox_rounded-ripple-in .5s cubic-bezier(.4,0,0,1);
  animation: cb-checkbox_rounded-ripple-in .5s cubic-bezier(.4,0,0,1);
}
@-webkit-keyframes cb-checkbox_rounded-ripple-in {
	0% {
		-webkit-border-radius: 100%;
		border-radius: 100%;
		-webkit-transform: translateY(-100%) translateZ(0);
		transform: translateY(-100%) translateZ(0)
	}

	100% {
		-webkit-border-radius: 0;
		border-radius: 0;
		-webkit-transform: translateY(0) translateZ(0);
		transform: translateY(0) translateZ(0)
	}
}

@-moz-keyframes cb-checkbox_rounded-ripple-in {
	0% {
		-moz-border-radius: 100%;
		border-radius: 100%;
		-moz-transform: translateY(-100%) translateZ(0);
		transform: translateY(-100%) translateZ(0)
	}

	100% {
		-moz-border-radius: 0;
		border-radius: 0;
		-moz-transform: translateY(0) translateZ(0);
		transform: translateY(0) translateZ(0)
	}
}

@-o-keyframes cb-checkbox_rounded-ripple-in {
	0% {
		border-radius: 100%;
		transform: translateY(-100%) translateZ(0)
	}

	100% {
		border-radius: 0;
		transform: translateY(0) translateZ(0)
	}
}

@keyframes cb-checkbox_rounded-ripple-in {
	0% {
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		border-radius: 100%;
		-webkit-transform: translateY(-100%) translateZ(0);
		-moz-transform: translateY(-100%) translateZ(0);
		transform: translateY(-100%) translateZ(0)
	}

	100% {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-transform: translateY(0) translateZ(0);
		-moz-transform: translateY(0) translateZ(0);
		transform: translateY(0) translateZ(0)
	}
}

.heading{
  font-family: "Helvetica73-b";
  font-size: 90px;
  text-align: center;
  color: #0E0E0E;
}
/* Second Section */
.second-sec{
padding: 8% 0;
}
.second-sec h2{
  font-family: "Helvetica63-m";
  font-size: 105px;
  text-align: center;
  color: #0E0E0E;
}
.second-sec .parh{
  font-family: "Helvetica63-m";
font-size: 20px;
text-align: center;
padding: 0 20%;
margin-top: 5%;
color: #000000;
}

/* srvices */
.district-desktop{
  margin-top: 10%;
  position: relative;
}
.key{
  padding-left: 169px;
  font-family: "Helvetica63-m";
font-size: 18px;
letter-spacing: 0.03em;
margin-bottom: 5%;
color: #000000;
}
 .district-wrapper {
	/* position: relative */
}

 .district-wrapper .pattern {
	position: absolute;
	width: 447px;
	height: 569px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/* background-image: url(../../../themes/modemole/img/home-page/district-pattern.png); */
	top: 36px;
	right: -60px;
	z-index: -1
}

 .district-list {
	/* position: relative; */
	width: 100%;
	padding-left: 169px;
}

 .district-list li {
	margin-bottom: 12px
}

 .district-list li:first-child .district-list__img {
	opacity: 1;
	visibility: visible
}

 .district-list li:last-child {
	margin-bottom: 0
}

 .district-list li:hover .district-list__img {
	opacity: 1;
	visibility: visible
}

 .district-list li:hover .district-list__text {
	padding-left: 28px
}

 .district-list li:hover .district-list__text::before {
	opacity: 1;
	visibility: visible;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none
}

 .district-list li:hover .district-list__text p {
	opacity: 1;
	visibility: visible;
	max-height: 150px
}

 .district-list__text {
	position: relative;
	-webkit-transition: padding 0.3s;
	transition: padding 0.3s;
	z-index: 1
}

 .district-list__text::before {
	content: "";
    width: 69px;
    height: 17px;
    background-image: url(/assets/images/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 25px;
    left: -50px;
    background-size: cover;
	-webkit-transition: 0.3s;
	transition: transform 0.3s;
	transition: 0.3s, _ 0.3s;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateX(-72px);
	-ms-transform: translateX(-72px);
	transform: translateX(-72px);
	-webkit-transition-delay: 30ms;
	transition-delay: 30ms
}

 .district-list__text h3 {
	font-size: 32px;
	line-height: 1.9;
  font-family: "Helvetica63-m";
  text-transform: uppercase;
}

 .district-list__text p {
	max-width: 348px;
	line-height: 1.22222;
	height: 100%;
	max-height: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: 550ms 150ms;
	transition: 550ms 150ms
}

 .district-list__img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 650px;
	height: 525px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.3s, visibility 0.3s;
	transition: opacity 0.3s, visibility 0.3s
}

 .district-list__img img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover
}


/* Thired section */
.third-sec{
  padding: 8% 0;
  position: relative;
}
.mr{
  margin-left:60px ;
  margin-right: 0px !important;
}
.left-content {
  padding-right: 60px;
}
.left-content h6{
  font-family: "Helvetica73-b";
  font-size: 17px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 30px;
}
.left-content h3{
  font-family: "Helvetica73-b";
font-size: 24px;
letter-spacing: 0.03em;
color: #000000;
margin-bottom: 30px;
}
.left-content p{
  font-family: 'Inter';
font-weight: 300;
color: #000000;
margin-bottom: 50px;
}
.third-sec .row{
  align-items: center;
}
.circle-el{
  position: absolute;
  top: 20px;
  right: 9%;
  animation: circleSpin 8s linear infinite;
  z-index: 1;
}
.circle-el2{
  position: absolute;
  top: 30px;
  left: 9%;
  animation: circleSpin 8s linear infinite;
  z-index: 1;
}
/*  */
@-webkit-keyframes circleSpin {
  0% {
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}
@keyframes circleSpin {
  0% {
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}

/* mobile slider serv */

.feedback {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/bg_share.jpg?raw=true);
  height: 733px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 80px 0;
}
@media (max-width: 991px) {
  .feedback {
    height: auto;
  }
}

.swiper {
  width: 100%;
  height: 429px;
}
@media (max-width: 991px) {
  .swiper {
    height: auto;
  }
}
.swiper-img {
  top: 0;
  left: 10px;
  width: 60%;
  height: 90%;
  border-radius: 24px;
  position: absolute;
}
.swiper-img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #7C7E77;
  border-radius: 24px;
  left: -10px;
  top: 10px;
  z-index: -1;
}
@media (max-width: 991px) {
  .swiper-img::after {
    left: -5px;
    top: 5px;
  }
}
.swiper-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}
@media (max-width: 991px) {
  .swiper-img {
    position: relative;
    width: calc(100% - 5px);
    height: 213px;
    left: 5px;
    margin-bottom: 40px;
  }
}
.swiper .card {
  width: 45%;
  padding: 32px;
  border-radius: 24px 24px 24px 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
  background: none;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
  background: none;
}
.swiper .card h3 {
  font-size: 23px;
	line-height: 1.2;
  font-family: "Helvetica63-m";
  text-transform: uppercase;
}
.swiper .card-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  right: 32px;
  bottom: 100%;
  transform: translateY(50%);
}
.mobile-se{
  display: none;
}
@media (max-width: 991px) {
  .swiper .card-img {
    width: 80px;
    height: 80px;
    right: 24px;
    top: -30px;
    bottom: auto;
    transform: none;
  }
}
@media (max-width: 991px) {
  .swiper .card {
    position: relative;
    width: 100%;
    padding: 24px;
    margin-bottom: 32px;
  }
}
.swiper-notification{
  display: none;
}
.link-primary:focus, .link-primary:hover{}
.swiper .swiper-button-next:after, .swiper .swiper-button-prev:after {
  content: "";
}
.swiper-button-next, .swiper-button-prev {
  position: unset;
  width: 24px;
  height: 24px;
  margin-top: 0;
  color: #fff !important;
}
.swiper .swiper-pagination {
  position: unset;
  width: auto;
}
.swiper .swiper-pagination .swiper-pagination-bullet {
  background-color: #ffffff;
  opacity: initial;
  margin-right: 10px;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.swiper .swiper-pagination .swiper-pagination-bullet-active {
  width: 16px;
  border-radius: 100px;
}
.swiper-buttons {
  bottom: 0;
  left: 30%;
  transform: translateX(-50%);
  z-index: 10;
  position: absolute;
}
@media (max-width: 991px) {
  .swiper-buttons {
    position: initial;
    transform: none;
  }
}
/* offers section */


.offers-section{
  background-image: url('/assets/images/offers.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5% 0px;
  background-position: center;
  background-attachment: fixed;
  position: relative;
overflow: visible;
}
.offers-section .circle-el {
  position: absolute;
  bottom: -160px;
  top: unset;
  right: 250px;
  animation: circleSpin 8s linear infinite;
}
.offers-section
.logo-b {
  padding: 20px 0;
}
.offers-section
.logo-b img{
  width: 80px;
  margin: auto;
}
.content-offers{
  text-align: center;
  margin-top: 60px;
}
.content-offers h2{
  font-family: "Helvetica63-m";
font-size: 49px;
text-align: center;
margin-bottom: 30px;
color: #0E0E0E;
}
.content-offers h6{
  font-family: "Helvetica73-b";
font-size: 15px;
color: #0E0E0E;
margin-bottom: 50px;
}

/*  */
.logo-br{
  padding: 30px 60px;
}
.brand-sec{
  padding: 8% 0;
  position: relative;
  overflow: visible;
  margin-bottom: 8%;
}
.bg-back{
  position: absolute;
  bottom: -160px;
  left: 0;
  z-index: -1;
  width: 630px;
}

.services-se{
  padding: 10% 0;
  background: #0E0E0E;
  color: #fff;
  position: relative;
}
.cl{
  position: absolute;
  top: 50px;
  right: 50px;
}
.cl p{
  position: relative;
  background: #40B6EA;
  border-radius: 50%;
}
.cl p img{
  animation: circleSpin 8s linear infinite;
}
.cl p span{
  position: absolute;
  top: 77px;
  left: 72px;
}
.cl p span img{
  animation:none;
  width: 90px;

}
.mini-heading{
font-family:'Helvetica63-m';
font-size: 56px;
color: #FFFFFF;
padding-right: 35%;
margin-bottom: 10%;
}
.servi-box{
  margin-bottom: 10%;
}
.servi-box h4{
  font-family:'Helvetica63-m';
  font-size: 30px;
  letter-spacing: 0.03em;
}
.servi-box p{
  font-family: 'Inter';
font-weight: 300;
}
.servi-box img{
  width: 50px;
  float: right;

}

/* get in touch */
.get-in{
  padding: 8% 0;
  position: relative;
}

.get-in .container-fluid{
  padding: 0 3%;
}
.get-in .row{
  align-items: center;
  background: lavender;
}
.get-in .row .col-lg-4{
  padding-left: 0;
  padding-right: 0;
}
.get-content{
  text-align: center;
}
.get-in .get-content h6{
  font-family:'Helvetica73-b';
  font-size: 18px;
  margin-bottom: 20px;
  letter-spacing: 0.07em;
  color: #000000;
  margin-bottom: 30px;
}
.get-in .get-content h4{
  color: #000000;
  padding-right: 0;
  margin-bottom: 20px;
}
.get-content p{
text-align: center;
padding: 0 7%;
color: #000000;
margin-bottom: 40px;
}

/* subscribe sec */
.subscribe{
background: #F0A238;
position: relative;
padding: 10% 10%;
}

.subscribe .cl {
  position: absolute;
  top: unset;
  right: 17%;
  bottom: -10px;
  z-index: 2;
}
.subscribe .cl p {
  position: relative;
  background: #000000;
  border-radius: 50%;
}
.subscribe .cl p span {
  position: absolute;
  top: 92px;
  left: 76px;
  animation: none;
}
.slider-bt{
  position: relative;
  width: 36%;
  margin: auto;
  margin-top: 2%;
  z-index: 0;
}
.subscribe .black{
  position: absolute;
  top: 0;
  right: 0;
}
.subscribe .subs h2{
  font-family:'Helvetica63-m';
font-size: 52px;
padding-right: 10%;
color: #FFFFFF;
margin-bottom: 30px;
}
.subs form input{
  border: none;
    background: transparent;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding: 10px;
    width: 350px;
}
.subs form input:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}
.subs form input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}
.subs form span button{
  background: #fff;
  border-radius: 82px;
  font-family:'Helvetica73-b';
  font-size: 16px;
  border: none;
  letter-spacing: 0.09em;
  color: #000;
  padding: 15px 30px;
  margin-left: 30px;
}

.subs input{
  border: none;
    background: transparent;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding: 10px;
    width: 350px;
}
.subs input:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}
.subs input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}
.subs span button{
  background: #fff;
  border-radius: 82px;
  font-family:'Helvetica73-b';
  font-size: 16px;
  border: none;
  letter-spacing: 0.09em;
  color: #000;
  padding: 15px 30px;
  margin-left: 30px;
}

footer{
  padding: 8% 0;
  background: #0E0E0E;
  position: relative;
}
footer .logo{
  position: absolute;
    bottom: 0;
    margin: 0 auto;
    right: 0;
    left: 0;
    width: 90px;
}
footer .container-fluid{
  padding: 0px 5%;
}
.footer-logo img{
  width: 200px;
  margin: auto;
}
.social-links{
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}
.social-links a img{
  width: 20px;
  margin-right: 10px;
}
.footer-link li{
  padding-bottom: 20px;
}
.footer-link li a{
  font-family: 'Inter';
font-weight: 300;
font-size: 18px;
color: #FFFFFF;
letter-spacing: 1px;
}
.footer-cont li a{
  font-family: 'Inter';
  font-weight: 300;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 1px;
}
.footer-cont li {
  padding-bottom: 20px;
}
.footer-cont li p{
  font-family: 'Inter';
  font-weight: 300;
  color: #FFFFFF;
  font-size: 18px;
  margin-bottom: 0;
  letter-spacing: 1px;
}
.bottom-footer{
  padding: 30px 70px;
}
.bottom-footer .row{
  align-items: center;
  justify-content: center;
}
.bottom-footer .footer-link{
  margin: 0;
}
.bottom-footer .footer-link li{
  padding: 0;
}
.bottom-footer .footer-link li a{
  color: #0E0E0E;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
}
.bottom-footer  p{
  margin-bottom: 0;
  color: #0E0E0E;
font-weight: 400;
font-size: 16px;
}





/* ====== Sakib ======= */

/* ========  Filter Section ========== */
.filter-wrapper {
  width: 100%;
  height: auto;
  background: url(/assets/images/Filter_Section/Filter-hero.png) no-repeat
    bottom right;
  background-size: 260px;
}

.filter-heading {
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  color: #0e0e0e;
  font-family: 'Helvetica63-m';
}

.breadcrumb {
  display: flex;
  justify-content: center;
  align-items: center;
}

.breadcrumb-item a {
  color: #0e0e0e;
}

.input-box {
  border: 1px solid #e7e7e7;
  padding: 10px 0;
  text-align: center;
  height: 58px;
  /* border-right: 0; */
  position: relative;
}

.filter-form__item {
  height: 58px;
  border-right: 0;
}

.filter-form__item {
  width: 100%;
  position: relative;
  background-color: #fff;
}

.filter-form__item_text input {
  border-right: 0;
}

.filter-form__item_text input {
  padding: 0 60px 0 19px;
  text-overflow: ellipsis;
}

.filter-form__item input,
.filter-form__item select {
  width: 100%;
  height: 100%;
  border: 1px solid #e7e7e7;
  font-size: 18px;
}

.filter-form__item input {
  outline: 0;
}

.filter-form__item input::placeholder {
  font-size: 18px;
  font-weight: 400;
  color: #000;
}

.filter-form__item input:focus::placeholder {
  color: transparent;
}

.filter-form__item_text #filter_brands {
  cursor: pointer;
  position: absolute;
  background-color: transparent;
  border: 0;
  outline: 0;
  left: 270px;
  top: 15px;
}

#input-box-alpha {
  text-align: start;
  padding-left: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
}

#input-box-alpha .input-sub-text {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 400;
}

.input-label label {
  font-size: 18px;
  cursor: pointer;
  padding: 4px 0px 0 10px;
}

.input-label label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.input-label .checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: transparent;
  border: 1px solid #bdb9b9;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1px solid #000;
}

.input-label .checkmark {
  top: 50%;
  left: 21px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.input-label label input:checked ~ .checkmark:after {
  display: block;
  left: 6px;
  top: 1px;
  width: 5px;
  height: 12px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.filter-letters ul {
  display: flex;
  justify-content: center;
  align-items: baseline;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -6px -13px;
}

.filter-letters ul li {
  margin: 6px 13px;
}

.filter-letters ul a {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.22222;
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
}

.input-box-fashion::after{
  width: 100%;
  height: 100%;
}

.input-box-fashion{
  width: 100%;
  height: 100%;
  border: 1px solid #e7e7e7;
  padding: 10px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-fashion{
  width: 90%;
}

.container-fashion select{
  font-size: 18px;
}

.container-fashion select option{
  background-color: #e7e7e7;
  color: #000;
}

.container-fashion select option:hover{
  background-color: #000;
}

.input-box-fashion{
  width: 100%;
  height: 100%;
  border: 1px solid #e7e7e7;
  padding: 10px 0;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.select {
  padding-top: 5px;
  border: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.select:focus {
  outline: 0;
}

.select option{
  width: 100%;
}

.input-sub-content {
  padding: 0 !important;
}

.brand-box {
  padding: 40px 0;
  border: 1px solid #e7e7e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s all ease-in-out;
}

.brand-box:hover {
  background-color: #039dbc;
  cursor: pointer;
}

.brand-top-logo {
  width: 150px;
}

.brand-sub-content {
  padding-top: 80px;
}

.brand-sub-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  text-decoration: underline;
  color: #0e0e0e;
  cursor: pointer;
  font-weight: 500;
}

.brand-box:hover .brand-sub-text {
  color: #fff;
}

.brand-box-img {
  padding-right: 20px;
  width: 40px;
}

.brand-logo-container .col-box {
  padding: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.brand-box:hover img {
  filter: invert(1);
}

/* =========  Filter Section End ========== */


/* ========= Detail Shop Section ===========*/

.detail-shop-wrapper {
  width: 100%;
  height: 100%;
  background: url(/assets/images/details_page/bg.png) no-repeat
    bottom right;
  background-size: 260px;
  margin-bottom: 10%;
}

.owl-dots{
  text-align: center !important;
}

.owl-carousel .owl-item img{
  width: 100%;
  height: 100%;
  padding: 0px 50px;
}

.owl-carousel button.owl-dot {
    background: #fff;
    color: #000;
    border: 1px solid #000;
    padding: 0!important;
    font: inherit;
    width: 10px;
    border-radius: 20px;
    height: 10px;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
}

.owl-dots button.owl-dot.active span, 
.owl-dots button.owl-dot:hover span {
  background-color: #000;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  position: absolute;
  top: -5px;
  left: -2px;
}

.right-section-content{
  padding: 0 0 0 60px;
}

.right-section-img{
  width: 80px;
  margin: 0;
  padding: 0;
}

.right-section-first-text{
  text-transform: uppercase;
  font-weight: 500;
  color: #000;
  font-size: 13px;
}

.right-section-second-text{
  color: #000;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
}

.social-content{
  display: flex;
}

.right-section-top-content .social-img{
  width: 40px;
  padding-right: 10px;
}

.right-section-top-content{
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.right-section-sub-text{
  width: 80%;
}

.contact-left-section{
  display: flex;
  flex-direction: column;
}

.contact-left-section .contact-anchor-link{
  line-height: 30px;
  color: #0e0e0e;
  font-size: 14px;
  font-weight: 400;
}

.contact-left-text{
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Helvetica63-m';
}


.icons-section a .fa-brands{
    color: #4A4A4A;
    padding-right: 13px;
}

.direction-right-text{
  font-size: 20px;  
  font-family: 'Helvetica63-m';
  text-transform: uppercase;
}

.direction-right-section .right-section-top-content{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.direction-right-section .location-direction-img{
  width: 20px;
  display: inline-block;
}

.direction-right-section .direction-anchor-link{
  text-decoration: underline;
  color: #0E0E0E;
  text-transform: uppercase;
  font-size: 15px;
  padding-left: 10px;
  font-weight: 400;
}

.direction-right-section .direction-bottom-text{
  font-weight: 400;
  font-size: 15px;
}

.shop-button-section .shop-btn-view{
  background-color: #000;
  padding: 15px 60px;
  border-radius: 50px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}

/* ========= Detail Shop Section End ===========*/
.p-10{
  padding-top: 10%;
}
/* ========== Offer Section ============ */
.offer-details-shop-wrapper{
  padding-bottom: 10%;
}
.offer-wrapper{
  background: url(/assets/images/offers/bg.png) no-repeat;
  background-position: bottom right;
  padding-top: 10%;
}

.offer-heading {
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  color: #0e0e0e;
  font-family: 'Helvetica63-m';
}


.breadcrumb {
  display: flex;
  justify-content: center;
  align-items: center;
}

.breadcrumb-item a {
  color: #0e0e0e;
}

.filter__form__item_text #filter_brands {
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    border: 0;
    right: 10px;
    top: 15px;
}

.filter__form__item {
  height: 58px;
  border-right: 0;
}

.filter__form__item {
  width: 100%;
  position: relative;
  background-color: #fff;
}

.filter__form__item_text input {
  border-right: 0;
}

.filter__form__item_text input {
  padding: 0 60px 0 19px;
  text-overflow: ellipsis;
}

.filter__form__item input,
.filter__form__item select {
  width: 100%;
  height: 100%;
  border: 1px solid #e7e7e7;
  font-size: 18px;
}

.filter__form__item input {
  outline: 0;
}

.filter__form__item input::placeholder {
  font-size: 18px;
  font-weight: 400;
  color: #000;
}

.filter__form__item input:focus::placeholder {
  color: transparent;
} 

.offer-sub-content {
  padding: 0 !important;
}

.offer-box-fashion{
  width: 100%;
  height: 100%;
  border: 1px solid #e7e7e7;
  padding: 10px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer-fashion{
  width: 90%;
}

.offer-fashion select{
  font-size: 18px;
}

.offer-fashion select option{
  background-color: #e7e7e7;
  color: #000;
}

.offer-fashion select option:hover{
  background-color: #000;
}

.container-offer{
  width: 90%;
}

.offer-logo-container .col-box {
  padding: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.offer-box {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
}

.offer-bg {
  width: 100%;
}

.overlay{
  width: 100%;
  height: 100%;
  position: relative;
  background: rgb(20 20 20 / 40%);
}

.overlay:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background: rgb(20 20 20 / 40%);
    cursor: pointer;
    opacity: 1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.overlay:hover:after{
  background:rgb(229, 47, 193,0.4);
}

.offer__content {
  position: absolute;
}

.offer-box .offer-heading-text{
  color: #fff;
  text-transform: uppercase;
  font-size: 32px;
  font-family:'Helvetica63-m';
  padding: 0 30px;
}

.middle__content .offer-sub-heading-text{
  color: #fff;
  padding-left: 30px;
  padding-top: 20px;
  font-size: 13px;
  font-family: 600;
  transition: 0.3s all ease;
}

.overlay:hover .offer-sub-heading-text{
  padding-left: 0 !important;
}

.middle__content{
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.overlay:hover .middle__content{
  text-align: center;
}

.overlay:hover .offer-sub-heading-text{
  z-index: 3;
  color: #fff;
  font-size: 13px;
  font-family: 600;
}

.offer-box-logo{
  width: 80px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.overlay:hover .offer-box-logo{
  display: none;
}

.top__logo{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  z-index: 3;
  width: 120px;
  display: none;
}

.overlay:hover .top__logo{
  display: block;
}

.offer-box-img {
  display: inline-block;
  width: 55px;
  filter: brightness(29.5);
  padding-left: 30px;
}

.offer-sub-text {
  font-size: 18px;
  padding-right: 10px;
  text-decoration: underline;
  color: #fff;
  cursor: pointer;
font-family: 'Helvetica63-m';
  z-index: 9999;
  transition: 0.3s all ease;
  text-align: center;
}

.offer-sub-text:hover{
  color: #fff;
}

.bottom-content{
  width: 100%;
  position: absolute;
  left: 0%;
  bottom: 10%;
  z-index: 1;
}

.overlay:hover .bottom-content{
  position: absolute;
  bottom: 10%;
  left: 0%;
  text-align: center;
}

/* ========== Offer Section End ============ */

/* ========== Offers Details Section =========== */

.offer-d-img-section{
    padding: 0 50px;
}

.offer-section-first-text{
    color: #339BDB;
    font-size: 27px;
    font-family: 'Helvetica63-m';
}

.offer-section-second-text{
  color: #000;
  padding-top: 10px;
  font-weight: 500;
  font-family: 'Helvetica63-m';
}

.offer-section-third-text{
  color: #000;
  font-size: 15px;
  padding-top: 10px;
}

.offer-section-sub-text{
  padding-top: 10px !important;
  padding: 0 40px 0 0;
  color: #000;
}

.offer-d-right-section .right-section-top-content{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.offer-d-right-section .location-direction-img{
  width: 20px;
  display: inline-block;
}

.offer-d-right-section .direction-anchor-link{
  text-decoration: underline;
  color: #0E0E0E;
  text-transform: uppercase;
  font-size: 15px;
  padding-left: 10px;
  font-weight: 400;
}

.offer-d-social-content{
  display: flex;
  padding-top: 40px;
}

.offer-d-right-section .social-img{
  width: 30px;
}

.offer-d-right-section .right-section-second-text{
  padding-left: 20px;
}

.offer-button-section{
  padding-top: 60px;
}

.offer-button-section .shop-btn-view{
  background-color: #000;
  padding: 15px 60px;
  border-radius: 50px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}

/* ========== Offers Details Section End =========== */

/* ============ Service Section ================ */


.Service-wrapper {
  width: 100%;
  height: auto;
  background: url(/assets/images/services/bg.png) no-repeat;
  background-position: center;
  background-size: 500px;
  background-attachment: fixed;
}

.service-left-heading {
  font-size: 40px;
  color: #0e0e0e;
  text-transform: uppercase;
  font-family: 'Helvetica63-m';
}

#service-left-heading {
  padding-right: 250px;
}

.accordion {
  background: none !important;
  --bs-accordion-bg: none !important;
  --bs-accordion-active-color: none !important;
  --bs-accordion-active-bg: none !important;
  --bs-accordion-border-color: none !important;
}

.accordion-button:not(.collapsed)::after {
  /* background-image: url(/assets/images/services/ArrowRight.png); */
  transform: rotate(45deg);
  transition: 0.5s all ease-in-out;
}

.accordion-button::after {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-left: auto;
  content: "";
  background-image: url(/assets/images/services/ArrowDiagonal.png) !important;
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}

.accordion-flush .accordion-item:last-child {
  border-bottom: 1px solid #000 !important;
}

.accordion .accordion-item {
  border: none;
  border-bottom: 1px solid #000;
  border-right: 0 !important;
  border-left: 0 !important;
}

.accordion-button {
  font-size: 25px;
  font-family: 'Helvetica43-l';
}

.accordion-button:focus {
  z-index: 3;
  border-color: var(--bs-accordion-btn-focus-border-color);
  outline: 0;
  box-shadow: none !important;
}

/* ============ Service Section End ================ */


/* seacrh Bar */
#search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);
  opacity: 0;
  z-index: 99;
}
#search input[type=search] {
  position: absolute;
  top: 50%;
  width: 40%;
  color: white;
  background: rgba(0, 0, 0, 0);
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  border-bottom: 1px solid #fff !important;
  margin: 0px auto;
  margin-top: -51px;
  padding-left: 30px;
  border: none;
  left: 0;
  right: 0;
  padding-right: 30px;
  outline: none;
}
#search .btn {
  position: absolute;
  top: 51%;
  left: 0;
  right: 0;
  margin: auto;
  width: 11%;
  margin-top: 61px;
  /* margin-left: -45px; */
  background-color: rgb(255 255 255);
  border: black;
  color: #000;
  font-size: 20px;
  padding: 10px 40px;
  font-family: 'Helvetica73-b';
  border-radius: 50px;
}
#search .close {
  position: fixed;
  top: 25px;
  right: 25px;
  color: #fff;
  background-color: transparent;
  opacity: 1;
  padding: 0px 17px;
  border: none;
  border-radius: 60px;
  font-size: 47px;
}
#search.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1);
  opacity: 1;
}
.navbar-nav a.active {
  font-weight: bold;
  color: red;
}
